.contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 auto;
    background-color:#473198 ;
}

#formSubmitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: black;
}

.contact input {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 2.5%;
    margin: 2.5%;
    border: 1px solid black;
    color: black;
    background-color: #DAFFED;
    font-size: 20px;
}

  #contactMessage {
      height: 200px;
  }

  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 40px;
    }
    .navLink, .activeNavLink {
      font-size: 28px;
    }


  }
    
  @media only screen and (min-width: 1200px) {

    .contact {
        height: 75vh;
    }
    .contact form {
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        height: 80%;
    } 
    .contact input {
        width: 35%;
        height: 20px;
        margin: 1%;
    }
    #contactMessage {
        width: 82.5%;
        height: 200px;
    }
  }