footer {
    display: flex;
    position: fixed;
    align-items: center;
    bottom: 0px;
    width: 100%;
    height: 40px;
    background-color: #ADFC92;
    border-top: 2px dashed black;
}

footer ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

footer ul a {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

footer ul a li {
    width: 100%;
}

footer ul a li button {
    width: 100%;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    background-color: #DAFFED;
    font-weight: bold;
}


footer ul a li button:hover {
    background-color: black;
    color: #DAFFED;


}


.sectionHeading {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }

  @media only screen and (min-width: 768px) {
   footer {
       height: 60px;
   }

   footer button {
       height: 40px;
   }
  }
    