#projectsH1 {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.projects {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  border: 2px dashed black;
  padding: 5px;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 45px;
  background-color: #4A0D67;
}

.projectTitle {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  padding: 5%;
  color: white;
}

.projectImage {
  display: flex;
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 10px;
}

.projects p {
  margin: 2% auto;
  width: 80%;
  text-align: center;
  color: #DAFFED;
}

.buttons {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 60px;
}

.buttons button {
  width: 100%;
  height: 40px;
}

.portfolio {
  background-color: #9BF3F0;
}

@media only screen and (min-width: 768px) {
  #projectsH1 {
    font-size: 32px;
    margin: 2.5% auto;
  }
  .projects p {
    font-size: 22px;
  }
  .projectTitle {
    font-size: 32px;
  }
  .buttons a {
    width: 45%;
  }

  .buttons button {
    font-size: 24px;
    height: 90%;
  }
}
  
@media only screen and (min-width: 1200px) {
  .projects {
    width: 30%;
    margin: 0;
    margin-bottom: 80px;
  }
  .toWrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}