.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 80%;
  width: 90%;
  margin: 0 auto;
  margin-top: 25%;
}

.sectionHeading {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

.portfolio .sectionHeading {
  margin-bottom: 5%;
}

.currentView {
  transition: all 0.5s ease-in-out;
  color: green;
}
