.sectionHeading {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  height: 40px;
  justify-content: center;
  align-items: center;
}

body,
html,
#root,
.root,
.app {
    height: 100%;
}


.root {
    background-color: #9BF3F0;
}

@media only screen and (min-width: 768px) {
  .sectionHeading {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1200) {
  .projects {
    width: 40%;
    background-color: white;
    
  }
  .projectImage {
    display: flex;
    width: 40px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 10px;
  }
}