img {
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  border: 2px dashed black;
  padding: 5px;
  border-radius: 20px;
  margin-top: 5%;
}

.portfolio div div img {
  border-radius: 20px;
}

.portfolio div div h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 2% auto;
}

.hidden {
  display: none;
}

.projects p {
  margin: 2% auto;
  width: 80%;
  text-align: center;
}
